{% extends 'base.html.twig' %}

{% block title %}Vehicule{% endblock %}

{% block body %}
    <h1>Vehicule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicule.id }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ vehicule.marque }}</td>
            </tr>
            <tr>
                <th>Modele</th>
                <td>{{ vehicule.modele }}</td>
            </tr>
            <tr>
                <th>Immatriculation</th>
                <td>{{ vehicule.immatriculation }}</td>
            </tr>
            <tr>
                <th>DayPrice</th>
                <td>{{ vehicule.dayPrice }}</td>
            </tr>
            <tr>
                <th>Vehicule disponible ?</th>
                <td>{{ vehicule.isDisponible ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Nombre de fois loué</th>
                <td>{{ nbLouee }}</td>
            </tr>
        </tbody>
    </table>

    <h1>Commentaires</h1>
    {% for commentaire in vehicule.commentaires %}
        <div class="comment">
            <p><strong>{{ commentaire.user.nom }} {{ commentaire.user.prenom }}:</strong> {{ commentaire.contenu }}</p>
        </div>
    {% endfor %}

    {% if vehicule.commentaires is empty %}
        <p>Aucun commentaire pour ce véhicule.</p>
    {% else %}
        <p>Moyenne des notes: {{ moyenne }} / 5</p>
    {% endif %}



    <a href="{{ path('app_vehicule_disponibles') }}">Revenir à la liste des véhicules</a>
{% endblock %}
